
<section class="about-style-two">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <br/><br/>
                <div class="brand-logos">
                        <img src="img/SBA-certified.png" alt="Awesome Image"/>
                        <img src="img/cslb.jpeg" alt="Awesome Image"/>
                        <img src="img/duns.png"  width="180" heigth="180" alt="Awesome Image"/>
                        <img src="img/mbe-dbe.png"  width="180" heigth="180"  alt="Awesome Image"/>
                        <img src="img/sbe.png" width="90" heigth="90" alt="Awesome Image"/>
                    </div>
                {{!-- <img src="img/about-feature-1-1.jpg" class="pull-right" alt="Awesome Image"/> --}}
            </div><!-- /.col-md-5 -->
            <div class="col-md-7">
                <div class="about-content">
                    <h3>AD Improvements</h3>
                    <span>We lead the way!</span>
                    <p>We are a bilingual, international general construction company, specializing in a variety of engineering services. Our growth has been achieved by maintaining high quality standards, solid business ethics and prompt comprehensive response to the needs of our clients. We are an 8(a), minority owned small business in the state of California.<br/><br/><br/></p>
                    <!-- /.brand-logos -->
                </div><!-- /.about-content -->
            </div><!-- /.col-md-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-style-two -->

<section class="cta-style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="cta-style-two-1">
                    <span>Government Constructor</span>
                    <h3>Doing what we do <br />best</h3>
                    <a href="#" class="cta-btn">View Case Study</a>
                </div><!-- /.cta-style-two-1 -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="cta-style-two-2">
                    <h3>Extensive Experience</h3>
                    <p>Due to our extensive years of experience,  we have delivered countless projects to our client’s complete satisfaction.</p>
                    <a href="#" class="cta-btn">Testimonials</a>
                </div><!-- /.cta-style-two-1 -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section><!-- /.cta-style-two -->