
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row ">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget about-widget">
                        <a href="index.html"><img src="img/footer-logo-1-1.png" alt="Awesome Image"/></a>
                        <p>Since 1960, ZXP has built a reputation for producing high quality precision fabricated products for use in a variety of industries.</p>
                        <div class="social">
                            <a href="#" class="fab fa-facebook-f"></a><!--
                            --><a href="#" class="fab fa-twitter"></a><!--
                            --><a href="#" class="fab fa-linkedin-in"></a><!--
                            --><a href="#" class="fab fa-google-plus-g"></a><!--
                            --><a href="#" class="fas fa-rss"></a>
                        </div><!-- /.social -->
                    </div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <div class="title">
                            <h3>Quick Links</h3>
                        </div><!-- /.title -->
                        <ul class="links-list">
                            <li><a href="#"><i class="fas fa-angle-right"></i>Home</a></li>
                            <li><a href="#"><i class="fas fa-angle-right"></i>About Us</a></li>
                            <li><a href="#"><i class="fas fa-angle-right"></i>Portfolio</a></li>
                            <li><a href="#"><i class="fas fa-angle-right"></i>Services</a></li>
                            <li><a href="#"><i class="fas fa-angle-right"></i>Contact</a></li>
                        </ul><!-- /.links-list -->
                    </div><!-- /.footer-widget links-widget -->
                </div><!-- /.col-md-2 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget twitter-widget">
                        <div class="title">
                            <h3>Twitter Feed</h3>
                        </div><!-- /.title -->
                        <div class="single-tweet">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Ed quia con sequuntur.</p>
                            <div class="name"><i class="fab fa-twitter"></i>@Mark Wahlberg</div><!-- /.name -->
                        </div><!-- /.single-tweet -->
                        <div class="single-tweet">
                            <p>Neque porro quisquam est, qui dolor em ipsum quia dolor sit amet.</p>
                            <div class="name"><i class="fab fa-twitter"></i>@Andy Samberg</div><!-- /.name -->
                        </div><!-- /.single-tweet -->
                    </div><!-- /.footer-widget twitter-widget -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget recent-post-widget">
                        <div class="title">
                            <h3>Recent Post</h3>
                        </div><!-- /.title -->
                        <div class="single-recent-post">
                            <div class="img-box">
                                <img src="img/footer-rp-1-1.jpg" alt="Awesome Image"/>
                            </div><!-- /.img-box -->
                            <div class="text-box">
                                <a href="#"><h4>China industrial profit growth slows to low</h4></a>
                                <p>5 hours ago</p>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-recent-post -->
                        <div class="single-recent-post">
                            <div class="img-box">
                                <img src="img/footer-rp-1-2.jpg" alt="Awesome Image"/>
                            </div><!-- /.img-box -->
                            <div class="text-box">
                                <a href="#"><h4>Industrial space to remain tight</h4></a>
                                <p>5 hours ago</p>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-recent-post -->
                    </div><!-- /.footer-widget recent-post-widget -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-subscribe">
        <div class="container">
            <div class="left-title pull-left">
                <h3>Subscribe your E-mail for our Newsletter & Business Tips</h3>
            </div><!-- /.left-title -->
            <div class="right-form-box pull-right">
                <form action="inc/mailchimp/subscribe.php" class="footer-subscribe-form clearfix mailchimp-form">
                    <input type="text" placeholder="email address.." name="email" /><!--
                    --><button type="submit">Subscribe</button>
                </form><!-- /.footer-subscribe-form -->
                <div class="result"></div><!-- /.result -->
            </div><!-- /.right-form-box -->
        </div><!-- /.container -->
    </div><!-- /.footer-subscribe -->
</footer><!-- /.site-footer -->
<div class="footer-bottom">
    <div class="container">
        <div class="copy-text pull-left">
            <p>2018 &copy; All Rights Reserved by AD Improvements</p>
        </div><!-- /.copy-text -->
        <div class="right-link pull-right">
            <a href="#">Privacy Policy & Terms of Use</a>
        </div><!-- /.right-link -->
    </div><!-- /.container -->
</div><!-- /.footer-bottom -->

<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
    <div class="search_box_inner">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<div class="scroll-to-top scroll-to-target" data-target="html"><i class="fa fa-angle-up"></i></div>
{{>_footer-block}}