
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row ">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget about-widget">
                        <a href="/"><img src="img/footer-logo-1-1.png" alt="Awesome Image"/></a>
                        <p>Since 2002, AD Improvements is a bilingual international general construction company, specializing in a variety of services. Our growth has been achieved by maintaining high quality standards, solid business ethics and prompt comprehensive response to the needs of our clients.</p>
                        <div class="social">
                            <a href="#" class="fab fa-facebook-f"></a><!--
                            --><a href="#" class="fab fa-twitter"></a><!--
                            --><a href="#" class="fab fa-linkedin-in"></a><!--
                            --><a href="#" class="fab fa-google-plus-g"></a><!--
                            --><a href="#" class="fas fa-rss"></a>
                        </div><!-- /.social -->
                    </div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <div class="title">
                            <h3>Quick Links</h3>
                        </div><!-- /.title -->
                        <ul class="links-list">
                            <li><a href="/"><i class="fas fa-angle-right"></i>Home</a></li>
                            <li><a href="/about"><i class="fas fa-angle-right"></i>About Us</a></li>
                            <li><a href="#"><i class="fas fa-angle-right"></i>Portfolio</a></li>
                            <li><a href="#"><i class="fas fa-angle-right"></i>Services</a></li>
                            <li><a href="/contact"><i class="fas fa-angle-right"></i>Contact</a></li>
                        </ul><!-- /.links-list -->
                    </div><!-- /.footer-widget links-widget -->
                </div><!-- /.col-md-2 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget twitter-widget">
                        <div class="title">
                            <h3>Headquarters</h3>
                        </div><!-- /.title -->
                        <div class="single-tweet">
                            <p>12252 Woodruff Ave<br/>Downey, CA 90241</p>
                            {{!-- <div class="name"><i class="fab fa-twitter"></i>@Mark Wahlberg</div><!-- /.name --> --}}
                        </div><!-- /.single-tweet -->
                        <div class="single-tweet">
                            <p><i class="zxp-icon-old-telephone-ringing"></i> P (562) 572-3177</p>
                        </div><!-- /.single-tweet -->
                        <div class="single-tweet">
                            <p><i class="zxp-icon-old-telephone-ringing"></i> F (562) xxx-xxxx</p>

                        </div><!-- /.single-tweet -->
                    </div><!-- /.footer-widget twitter-widget -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget recent-post-widget">
                        <div class="title">
                            <h3>Our Team Members</h3>
                        </div><!-- /.title -->
                         <div class="single-recent-post">
                            <div class="img-box">
                                <img src="img/ceo.jpg" width=80 height=80 alt="Awesome Image"/>
                            </div><!-- /.img-box -->
                            <div class="text-box">
                                <a href="#"><h4>Robert Acosta</h4></a>
                                <div class="name">CEO</div>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-recent-post -->
                        <div class="single-recent-post">
                            <div class="img-box">
                                <img src="img/mich.jpg" width=80 height=80 alt="Awesome Image"/>
                            </div><!-- /.img-box -->
                            <div class="text-box">
                                <a href="#"><h4>Michelle Acosta</h4></a>
                                <div class="name">Project Manager</div>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-recent-post -->
                        <div class="single-recent-post">
                            <div class="img-box">
                                <img src="img/jan.jpg" width=80 height=80 alt="Awesome Image"/>
                            </div><!-- /.img-box -->
                            <div class="text-box">
                                <a href="#"><h4>Janet Morales</h4></a>
                                <p>Quality Control Manager</p>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-recent-post -->
                    </div><!-- /.footer-widget recent-post-widget -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    {{!-- <div class="footer-subscribe">
        <div class="container">
            <div class="left-title pull-left">
                <h3>Subscribe your E-mail for our Newsletter & Business Tips</h3>
            </div><!-- /.left-title -->
            <div class="right-form-box pull-right">
                <form action="inc/mailchimp/subscribe.php" class="footer-subscribe-form clearfix mailchimp-form">
                    <input type="text" placeholder="email address.." name="email" /><!--
                    --><button type="submit">Subscribe</button>
                </form><!-- /.footer-subscribe-form -->
                <div class="result"></div><!-- /.result -->
            </div><!-- /.right-form-box -->
        </div><!-- /.container -->
    </div><!-- /.footer-subscribe --> --}}
</footer><!-- /.site-footer -->
<div class="footer-bottom">
    <div class="container">
        <div class="copy-text pull-left">
            <p>2018 &copy; All Rights Reserved by AD Improvements</p>
        </div><!-- /.copy-text -->
        <div class="right-link pull-right">
            <a href="#">Privacy Policy & Terms of Use</a>
        </div><!-- /.right-link -->
    </div><!-- /.container -->
</div><!-- /.footer-bottom -->

<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
    <div class="search_box_inner">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<div class="scroll-to-top scroll-to-target" data-target="html"><i class="fa fa-angle-up"></i></div>
{{>_footer-block}}