<header class="header header-home-one">
    <div class="header-top">
        <div class="container">
            <div class="pull-left left-contact-info">
                <p><i class="fas fa-envelope-open"></i>robert@adimprovements.com</p><!--
                --><p><i class="zxp-icon-old-telephone-ringing"></i>(562) 572-3177</p>
            </div><!-- /.pull-left -->
            <div class="pull-right right-contact-info">
                <p><i class="fas fa-clock"></i>Mon - Fri : 8:00 AM to 6:00 PM - PST</p><!--
                --><p>
                    {{!-- <i class="fas fa-globe"></i>
                    <span class="select-box">
                        <select class="selectpicker" name="languages">
                            <option value="">EN</option>
                            <option value="1">BN</option>
                            <option value="2">DU</option>
                        </select>
                    </span><!-- /.select-box --> --}}
                </p>
            </div><!-- /.pull-right -->
        </div><!-- /.container -->
    </div><!-- /.header-top -->
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed zxp-icon-menu" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false"> </button>
                <a class="navbar-brand" href="index.html">
                    <img src="img/header-logo-1-1.jpg" alt="Awesome Image"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">

                <ul class="nav navbar-nav navigation-box">
                    <li class="current">
                        <a href="/">Home</a>
                    </li>
                    <li> <a href="/about">About Us</a> </li>
                    <li>
                        <a href="/portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                        <ul class="sub-menu">
                            <li> <a href="#">Demolition</a></li>
                            <li> <a href="#">Site Preparation</a> </li>
                            <li><a href="#">Abatement Services</a></li>
                            <li><a href="#">Asbestos and Lead Base<br/> Paint Removal Services</a></li>
                            <li><a href="#">Bio-Hazard Services</a></li>
                            <li><a href="#">Remediation Services</a></li>
                            <li><a href="#">Emergency Response</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li> <a href="contact.html">Contact Us</a> </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="right-side-box">
                <a href="#test-search" class="fas fa-search search-btn popup-with-zoom-anim"></a><!--
                --><a href="#" class="rqa-btn">Request Quote</a>
            </div><!-- /.right-side-box -->
        </div><!-- /.container -->
    </nav>
</header><!-- /.header -->