<header class="header header-home-one">
    <div class="header-top">
        <div class="container">
            <div class="pull-left left-contact-info">
                <p><i class="fas fa-envelope-open"></i>robert@adimprovements.com</p><!--
                --><p><i class="zxp-icon-old-telephone-ringing"></i>(562) 572-3177</p>
            </div><!-- /.pull-left -->
            <div class="pull-right right-contact-info">
                <p><i class="fas fa-clock"></i>Mon - Fri : 8:00 AM to 6:00 PM - PST</p><!--
                --><p>
                    <i class="fas fa-globe"></i>
                    <span class="select-box">
                        <select class="selectpicker" name="languages">
                            <option value="">EN</option>
                            <option value="1">BN</option>
                            <option value="2">DU</option>
                        </select>
                    </span><!-- /.select-box -->
                </p>
            </div><!-- /.pull-right -->
        </div><!-- /.container -->
    </div><!-- /.header-top -->
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed zxp-icon-menu" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false"> </button>
                <a class="navbar-brand" href="index.html">
                    <img src="img/header-logo-1-1.jpg" alt="Awesome Image"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">

                <ul class="nav navbar-nav navigation-box">
                    <li class="current">
                        <a href="index.html">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home Page One</a></li>
                            <li><a href="index2.html">Home Page Two</a></li>
                            <li><a href="index3.html">Home Page Three</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li> <a href="about.html">About Us</a> </li>
                    <li>
                        <a href="services.html">Services</a>
                        <ul class="sub-menu">
                            <li> <a href="interior-design.html">Interior Design</a> </li>
                            <li><a href="metal-roofing.html">Metal Roofing</a></li>
                            <li><a href="home-expansion.html">Home Expansion</a></li>
                            <li><a href="tower-construction.html">Tower Construction</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li> <a href="projects.html">Projects</a> </li>
                            <li> <a href="project-single.html">Projects Single</a> </li>
                            <li><a href="faq.html">FAQ Page</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog Classic</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li> <a href="contact.html">Contact</a> </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="right-side-box">
                <a href="#test-search" class="fas fa-search search-btn popup-with-zoom-anim"></a><!--
                --><a href="#" class="rqa-btn">Request Quote</a>
            </div><!-- /.right-side-box -->
        </div><!-- /.container -->
    </nav>
</header><!-- /.header -->