

<div class="brand-carousel-wrapper">
    <div class="container">
        <div class="brand-carousel owl-carousel owl-theme">
            <div class="item">
                <i><img src="img/p1.png" alt=""></i>
            </div><!-- /.item -->
            <div class="item">
                <img src="img/p2.png" alt="">
                {{!-- <i class="brands-icon-codecanyon"></i> --}}
            </div><!-- /.item -->
            <div class="item">
                <img src="img/p3.png" alt="">
                {{!-- <i class="brands-icon-envato"></i> --}}
            </div><!-- /.item -->
            <div class="item">
                <img src="img/p4.png" alt="">
                {{!-- <i class="brands-icon-graphicriver"></i> --}}
            </div><!-- /.item -->
            <div class="item">
                <img src="img/p5.png" alt="">
                {{!-- <i class="brands-icon-photodune"></i> --}}
            </div><!-- /.item -->
            <div class="item">
                <img src="img/p6.png" alt="">
                {{!-- <i class="brands-icon-themeforest"></i> --}}
            </div><!-- /.item -->
        </div><!-- /.brand-carousel -->
    </div><!-- /.container -->
</div><!-- /.brand-carousel-wrapper -->