<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-three" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active slide-1" style="background-image: url(img/9.jpg);background-position: center center; ">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-left">
                            <h3 data-animation="animated fadeInUp">Delivering superior work for complex construction projects</h3>
                            <h2 data-animation="animated fadeInUp">Government<br/> Contractor</h2>
                            <p data-animation="animated fadeInDown">Client Satisfaction, and extensive experience.</p>
                            <a href="#" class="banner-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item slide-2" style="background-image: url(img/6.jpg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-right">
                            <h3 data-animation="animated fadeInUp">Delivering superior work for complex construction projects</h3>
                            <h2 data-animation="animated fadeInUp">Government <br/>Contractor</h2>
                            <p data-animation="animated fadeInDown">Client Satisfaction, and extensive experience.</p>
                            <a href="#" class="banner-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item slide-3" style="background-image: url(img/7.jpg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-right">
                            <h3 data-animation="animated fadeInUp">Client Satisfaction, and extensive experience.</h3>
                            <h2 data-animation="animated fadeInUp">Government <br/> Contractor</h2>
                            <p data-animation="animated fadeInDown">Delivering superior work for complex construction projects</p>
                            <a href="#" class="banner-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item slide-3" style="background-image: url(img/8.jpg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-right">
                            <h3 data-animation="animated fadeInUp">Client Satisfaction, and extensive experience.</h3>
                            <h2 data-animation="animated fadeInUp">Government <br/>Contractor</h2>
                            <p data-animation="animated fadeInDown">Delivering superior work for complex construction projects</p>
                            <a href="#" class="banner-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
        <i class="fas fa-angle-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
        <i class="fas fa-angle-right"></i>
        <span class="sr-only">Next</span>
    </a>

    <ul class="carousel-indicators list-inline custom-navigation">
        <li data-target="#minimal-bootstrap-carousel" data-slide-to="0" class="active"></li><!--
        --><li data-target="#minimal-bootstrap-carousel" data-slide-to="1"></li><!--
        --><li data-target="#minimal-bootstrap-carousel" data-slide-to="2"></li>
    </ul>
</div>