<!DOCTYPE html>
<html lang="en">
{{> _header-block }}
<body class="active-preloader-ovh">

<div class="preloader"><div class="spinner"></div></div> <!-- /.preloader -->

    {{>_header-nav}}
    {{{body}}}
    {{>_footer }}
</body>

</html>