<section class="inner-banner">
    <div class="container text-center">
        <h3>About Us</h3>
        <div class="breadcumb">
            <a href="#">Home</a><!--
            --><span class="sep">-</span><!--
            --><span class="page-name">About Us</span>
        </div><!-- /.breadcumb -->
    </div><!-- /.container -->
</section><!-- /.inner-banner -->

<section class="about-us-style-one sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-content">
                    <span>About Us</span>
                    <h3>We individually assess each <br /> plan and offer optimal solutions</h3>
                    <h4>At  AD Improvements vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praese. Ntium voluum deleniti atque corrupti quos.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
                    <a href="#" class="about-btn">Our Services</a>
                </div><!-- /.about-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6 text-right">
                <img src="img/company.jpg" width=499 height=423 alt="Awesome Image"/>
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-us-style-one -->

<section class="cta-style-one">
    <div class="inner">
        <div class="container">
            <div class="title pull-left">
                <h3>We provide innovative Product Solutions for sustainable progress.</h3>
            </div><!-- /.title pull-left -->
            <div class="btn-box pull-right">
                <a href="#" class="cta-btn">More Projects</a>
            </div><!-- /.btn-box -->
        </div><!-- /.container -->
    </div><!-- /.inner -->
</section><!-- /.cta-style-one -->

<section class="testimonials-feature-wrapper sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="testimonials-style-one">
                    <div class="sec-title">
                        <h3>Clients’ Review</h3>
                    </div><!-- /.sec-title -->
                    <div class="single-testimonial-style-one">
                        <div class="top-box">
                            <i class="qoute-icon zxp-icon-right-quote"></i>
                            <div class="icon-box">
                                <img src="img/testi-1-1.jpg" alt="Awesome Image"/>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Outstanding Quality</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div><!-- /.stars -->
                            </div><!-- /.text-box -->
                        </div><!-- /.top-box -->
                        <div class="content-box">
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, dipsi plotum <br /> con sectetur, adipisci velit, sed quia non num quam eius modi tem amet conte <br /> pora incid unt ut labore et dolore magnam.</p>
                            <h4>- Ida Leopard, Google</h4>
                        </div><!-- /.content-box -->
                    </div><!-- /.single-testimonial-style-one -->
                    <div class="single-testimonial-style-one">
                        <div class="top-box">
                            <i class="qoute-icon zxp-icon-right-quote"></i>
                            <div class="icon-box">
                                <img src="img/testi-1-2.jpg" alt="Awesome Image"/>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Professional Handling</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div><!-- /.stars -->
                            </div><!-- /.text-box -->
                        </div><!-- /.top-box -->
                        <div class="content-box">
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, dipsi plotum <br /> con sectetur, adipisci velit, sed quia non num quam eius modi tem amet conte <br /> pora incid unt ut labore et dolore magnam.</p>
                            <h4>- Jackelyn Fernendez, Twitter</h4>
                        </div><!-- /.content-box -->
                    </div><!-- /.single-testimonial-style-one -->
                    <div class="btn-box">
                        <a href="#" class="view-more">View More</a>
                    </div><!-- /.btn-box -->
                </div><!-- /.testimonials-style-one -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="feature-style-one">
                    <div class="sec-title">
                        <h3>Our Strength</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem acc usantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. Ab illo inventore veritatis et quasi archite.</p>
                    </div><!-- /.sec-title -->
                    <div class="single-feature-style-one">
                        <div class="icon-box">
                            <i class="zxp-icon-pumpjack"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3 class="large-font">Advanced Technology</h3>
                            <p>Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam ali quam quaerat voluptatem. Lorem ipsum dolor sit amet, </p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-feature-style-one -->
                    <div class="single-feature-style-one">
                        <div class="icon-box">
                            <i class="zxp-icon-architect-with-helmet"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3 class="large-font">Expert Team</h3>
                            <p>Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam ali quam quaerat voluptatem. Lorem ipsum dolor sit amet, </p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-feature-style-one -->
                    <div class="single-feature-style-one">
                        <div class="icon-box">
                            <i class="zxp-icon-time-passing"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3 class="large-font">On time Delivery</h3>
                            <p>Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam ali quam quaerat voluptatem. Lorem ipsum dolor sit amet, </p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-feature-style-one -->
                </div><!-- /.feature-style-one -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.testimonials-feature-wrapper -->


<section class="faq-video-wrapper faq-style-one sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sec-title">
                    <h3>Learn more about our services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, aperiam consequuntur dolore mollitia laborum officia </p>
                </div><!-- /.sec-title -->
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>Demolition</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem. </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>Site Preparation</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem. </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Abatement Services</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem. </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Asbestos and Lead Base Paint Removal Services</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem. </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Bio-Hazard Services</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem. </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Remediation Services</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem. </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Emergency Response Services</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem. </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="video-box">
                    <img src="img/6.jpg" width=567 heigth=527 alt="" />
                    <a href="//www.youtube.com/watch?v=E2Wa0CcPEyQ" class="video-popup"><span class="inner fas fa-play hvr-pulse"></span></a>
                </div><!-- /.video-box -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.faq-feature-wrapper -->