
<section class="inner-banner">
    <div class="container text-center">
        <h3>Contact</h3>
        <div class="breadcumb">
            <a href="#">Home</a><!--
            --><span class="sep">-</span><!--
            --><span class="page-name">Contact</span>
        </div><!-- /.breadcumb -->
    </div><!-- /.container -->
</section><!-- /.inner-banner -->


<section class="team-style-one sec-pad team-page">
    <div class="container">
        <div class="sec-title text-center">
            <h3>Our Team</h3>
            <p>Dedicated to high quality engineering. </p>
        </div><!-- /.sec-title -->
        <div class="row">
            <!-- robert acosta-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <div class="img-box">
                        <img src="img/team1.jpg" alt="Awesome Image"/>
                    </div><!-- /.img-box -->
                    <div class="text-box">
                        <h3>Roberto Acosta</h3>
                        <p>CEO</p>
                         <p><i class="fas fa-envelope-open"></i><a href="mailto:robert@adimprovements.com">  robert@adimprovements.com</a></p>
                        <div class="social">
                            <a href="#" class="fab fa-linkedin-in"></a>
                        </div><!-- /.social -->
                    </div><!-- /.text-box -->
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-4 -->
            <!-- MICHELLE acosta-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <div class="img-box">
                        <img src="img/team2.jpg" alt="Awesome Image"/>
                    </div><!-- /.img-box -->
                    <div class="text-box">
                        <h3>Michelle Acosta</h3>
                        <p>Project Manager</p>
                         <p><i class="fas fa-envelope-open"></i><a href="mailto:michelle@adimprovements.com">  michelle@adimprovements.com</a></p>
                        <div class="social">
                            <a href="#" class="fab fa-linkedin-in"></a>
                        </div><!-- /.social -->
                    </div><!-- /.text-box -->
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <div class="img-box">
                        <img src="img/team3.jpg" alt="Awesome Image"/>
                    </div><!-- /.img-box -->
                    <div class="text-box">
                        <h3>Janet Morales</h3>
                        <p>Quality Control Manager</p>
                         <p><i class="fas fa-envelope-open"></i><a href="mailto:janet@adimprovements.com">  janet@adimprovements.com</a></p>
                        <div class="social">
                            <a href="#" class="fab fa-linkedin-in"></a>
                        </div><!-- /.social -->
                    </div><!-- /.text-box -->
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.team-style-one -->

<section class="contact-page-content sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="inc/sendemail.php" class="contact-form row">
                    <div class="col-md-6">
                        <p>Full Name</p>
                        <input type="text" name="name" />
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                        <p>Email</p>
                        <input type="text" name="email" />
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                        <p>Phone Number</p>
                        <input type="text" name="phone" />
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                        <p>Company Name</p>
                        <input type="text" name="company" />
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-12">
                        <p>Write Message</p>
                        <textarea name="message"></textarea>
                        <button type="submit">Submit</button>
                    </div><!-- /.col-md-6 -->
                </form><!-- /.contact-form -->
                <div class="result"></div><!-- /.result -->
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
                <div class="contact-info">
                    <h3>Drop us a line</h3>
                    <p>For any kind of query, contact us with the <br /> details below.</p>
                    <div class="single-contact-info">
                        <i class="zxp-icon-old-telephone-ringing"></i>
                        <p>(562) 572-3177</p>
                    </div><!-- /.single-contact-info -->
                    <div class="single-contact-info">
                        <i class="fas fa-envelope-open"></i>
                        <p>robert@adimprovements.com</p>
                    </div><!-- /.single-contact-info -->
                    <div class="single-contact-info">
                        <i class="fas fa-home"></i>
                        <p>12252 Woodruff Ave <br /> Downey, CA 90241 </p>
                    </div><!-- /.single-contact-info -->
                </div><!-- /.contact-info -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact-page-content -->

{{!-- <div
  class="google-map"
  id="contact-google-map"
  data-map-lat="-118.11833174595704"
  data-map-lng="33.921433640122295"
  data-icon-path="img/map-marker-1.png"
  data-map-title="Downey, California, United States"
  data-map-zoom="11"
  data-markers='{
            "marker-1": [40.712784, -74.005941, "<h4>12252 Woodruff Ave</h4><p>Downey, CA 90241</p>"]
        }'>
 </div> --}}

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4268.80253381599!2d-118.11833174595704!3d33.921433640122295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cd63c0df9635%3A0x8c6b8be420e6fd2f!2s12252+Woodruff+Ave%2C+Downey%2C+CA+90241!5e0!3m2!1sen!2sus!4v1538850377521" width="1980" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>